{{define "content"}}
<div style="margin-top: 30px">
    <div class="container">
        <ul class="list-group">
            {{with .Posts}}
                {{range .}}
                        <a href="{{.Link}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" target="_blank">
                            <span>{{.Title}}
                                <small>({{.ReplyCount}} 댓글 달림)</small>
                            </span>
                            <span class="badge badge-primary badge-pill">{{.Source}}</span>
                        </a>
                {{end}}
            {{end}}
        </ul>
    </div>
</div>
{{end}}