{{define  "layout"}}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>유머 뉴스</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">유머 뉴스</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{/*<li class="nav-item active">*/}}
                        {{/*<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>*/}}
                    {{/*</li>*/}}
                    {{/*<li class="nav-item">*/}}
                        {{/*<a class="nav-link" href="#">로그인</a>*/}}
                    {{/*</li>*/}}
                </ul>
            </div>
        </div>
    </nav>
    {{template "content" .}}
</body>
</html>
{{end}}